html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 500;
}

h2 {
  font-size: 1.125rem;
  margin-bottom: 0.725rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
}

button {
  font-size: 1.125rem;
}

p {
  line-height: 1.625rem;
}

li,
ul,
ol {
  line-height: 2rem;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }

  h3,
  h4 {
    font-size: 1.8rem;
  }
}
