// TODO
// Font Sizes
// h1, h2, h3, paragraph, button

// Body Padding
// 2rem left and right?

// Margin between components
// 1rem top and bottom?
//  what about mobile view?

// Font colors
$orange-dark: #ff9934;
$orange-lite: ＃FFB75E;

$black: ＃000;
$grey-dark: #6d6d6d;
$grey-lite: #979797;
$white: #fff;

// Line Height

// Box Shadows
