@import 'variables.scss';

html {
  scroll-behavior: smooth;
}
/* Position skill page background */
.skill_background {
  position: absolute !important;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

h3 {
  font-size: 1.2rem;
}

/* font sizing and styling */
p,
.normal-text,
li {
  line-height: 1.5em;
}

.grey {
  color: #00000080;
}

/* Hero */
h1.header-title {
  margin-bottom: 0.6rem;
}

h3.header-subtitle {
  margin-top: 0;
  font-size: 0.9rem;
}

/* Content */
h2.component-title {
  font-weight: bold;
  margin-top: 0;
}

h4.component-subtitle {
  text-transform: capitalize;
  margin-top: 0;
}

h4.skill-title {
  font-size: 0.9rem;
}

/* Timeline overwrite styles */
.vertical-timeline::before {
  background: linear-gradient(
    200.91deg,
    rgba(255, 183, 94, 0.72) 7.57%,
    rgba(255, 153, 52, 0.9) 94.39%
  ) !important;
}

.vertical-timeline-element-content {
  padding: 0 !important;
  box-shadow: none !important;
}
